{% extends "base.html" %}

{% block title %}
  Checkout
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
  <h1 style="font-variant-caps: all-petite-caps;">Checkout</h1>

  <div class="order-info">
    <h3 style="font-variant-caps: all-petite-caps;">Your order</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }}x {{ item.product.name }} :
          <span>${{ item.total_price }}</span>
        </li>
      {% endfor %}
    </ul>
    <p style="font-weight: bold">Total: ${{ cart.get_total_price }}</p>
  </div>

  <form action="." method="post" class="order-form">
    {{ form|crispy }}<br>
    <p><input class="btn btn-success" style="background-color: #003366;border: currentColor" type="submit" value="Place order"></p>
    {% csrf_token %}
  </form>
{% endblock %}