<!doctype html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml">
{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1, shrink-to-fit=no">
    <title>Europe's Corner</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style>
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

        .badge:after{
            content:attr(value);
            font-size:18px;
            background: crimson;
            font-weight: bold;
            border-radius:50%;
            padding:5px;
            position:relative;
            left:-8px;
            top:-10px;
            opacity:0.9;
            }

    </style>
  </head>
  <body style="background-color: white;
background-image: url('https://www.transparenttextures.com/patterns/brick-wall-dark.png');">
  <div>
    <nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color: #003366;" >
    <a href="{%	url	"shop:product_list"	%}"><img src="{% static "images/logo4.jpg" %}" alt="logo" style="    height: 110px;
    width: 400px;"/></a>

    <form class="search-container" style="position: absolute;
                                        left: 38%;
                                        width: 30%;">
                                        <input type="text" placeholder="Search.." name="search" id="searchinput" style="padding: 7px;
                                        font-size: 17px;
                                        border: 1px solid grey;
                                        border-width: 3px;
                                        float: left;
                                        width: 85%;
                                        background: #f1f1f1;">
      <button type="submit" style="float: left;
                                    width: 15%;
                                    padding: 7px;
                                    background: #003366;
                                    color: white;
                                    font-size: 17px;
                                    border: 1px solid grey;
                                    border-left: none;
                                    border-width: 3px;
                                    cursor: pointer;"
              disabled="disabled"
              id="search"
      ><i class="fa fa-search"></i></button>
    </form>





      {% if user.is_authenticated %}
<!--<i class="fa fa-shopping-cart fa-2x" style="color:beige;font-size: 2em;
   position: absolute;
    right: 15%;">Cart(0)  </i>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <a href="{% url "cart:cart_detail" %}"><i class="fa badge" style="margin-top: -1rem;color:beige;font-size: 2em;position: absolute;
    right: 12%;" value='{{ cart.get_total_count}}'>&#xf07a;</i></a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>



      <div class="collapse navbar-collapse" id="navbarCollapse">
        {% if user.is_authenticated %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#" id="userMenu"\
              data-toggle="dropdown" aria-haspopup="true" aria-expanded\
              ="false" style="color: beige;">
                <b>{{ user.username }}</b>
              </a>

              <div class="dropdown-menu dropdown-menu-right"
              aria-labelledby="userMenu">
                <a class="dropdown-item" href="{% url 'password_change'%}" style="color: #003366;"><b>Change password</b></a>
                <div class="dropdown-divider"></div>
<a class="dropdown-item" href="{% url 'Info_edit' user.pk %}" style="color: #003366;"><b>Change Personal Information</b></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'orders:order_list'%}" style="color: #003366;"><b>My Orders</b></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}" style="color: #003366;">
                    <b>Log Out</b></a>
              </div>
            </li>
          </ul>


        {% else %}
          <form class="form-inline ml-auto">
            <a href="{% url 'login' %}" class="btn btn-primary" style="background-color: #666666;border: currentColor">
                <b>Log In</b></a>
            <a href="{% url 'signup' %}" class="btn  ml-2" style="background-color: beige;border: currentColor; color: #003366">
                <b>Sign up</b></a>
          </form>
        {% endif %}
      </div>
    </nav>
  </div>



    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"\ integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
        (function() {
    $('form > input').keyup(function() {

        var empty = false;

        if ($('#searchinput').val() == '') {
            empty = true;
        }


        if (empty) {
            $('#search').attr('disabled', 'disabled'); // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
        } else {
            $('#search').removeAttr('disabled'); // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
            $('#search').removeAttr('disabled'); // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
        }
    });
})()

    </script>

  </body>
</html>
